.bas-image-operations-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-left: 30px;
  margin-right: 30px;
}

.bas-operation-btn {
  background-color: #f3f3f3;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.bas-green-svg-color {
  filter: invert(81%) sepia(12%) saturate(651%) hue-rotate(116deg) brightness(90%) contrast(94%);
}