.bas-discount-container {
  display: grid;
  grid-template-columns: auto;
  margin-left: 30px;
  margin-right: 30px;
}

.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}

.w3-beige,.w3-hover-beige:hover{
  color:#ffffff;
  background-color:#e9775c;
}

.bas-discount-text {
  font-size: 1.3em;
}

