.bas-footer-line {
  border-top: 1px solid black;
}

.bas-logo-menu-container {
  display: grid;
  grid-template-columns: auto auto 300px;
}

.bas-price-area {
  text-align: left;
  margin-left: 45px;
}

.bas-discount-price {
  color: #e9775c;
}

.bas-discount-price-original {
  text-decoration: line-through;
}

.bas-blank-nav-space {

}

.bas-upload-button-placement {
  text-align: right;
  margin-right: 45px;
}

.bas-upload-button {
  background-color: #e9775c;
  border: none;
  color: white;
  padding: 15px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 14px 12px;
  cursor: pointer;
}