.bas-logo-menu-container {
  display: grid;
  grid-template-columns: auto auto 300px;
}

.bas-logo {
  margin-left: 30px;
}

.bas-help-cart {
  text-align: right;
  margin-right: 45px;
}

.bas-hamburger-logo {
  text-align: left;
  margin-left: 45px;
}

.bas-menu-ham {
  cursor: pointer;
}

.bas-beige-svg-color {
  filter: invert(50%) sepia(22%) saturate(5942%) hue-rotate(334deg) brightness(126%) contrast(83%);
}