

.bas-click-to-upload-image-container {
  display: grid;
  grid-template-columns: auto;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center
}

.bas-click-to-load-image {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 8px 6px -6px black;
  margin-left: 20%;
  margin-right: 20%;
  cursor: pointer;
}

.bas-beige-svg-color {
  filter: invert(50%) sepia(22%) saturate(5942%) hue-rotate(334deg) brightness(126%) contrast(83%);
}

.bas-click-to-load-image {
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 8px 6px -6px black;
  margin-left: 20%;
  margin-right: 20%;
  cursor: pointer;
}

.bas-hide-div {
  display: none;
}

.bas-t3-noto-sans-bold {
  color: #505D77;
  font-size: 1em;
  font-family: noto sans-serif;
  font-weight: bold;
}

.bas-t4-noto-sans {
  color: #505D77;
  font-size: 0.875em;
  font-family: noto sans-serif;
}